{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}
    {{ super() }} - The post #{{ posts[0].id }}
{% endblock title %}

{% block content %}
    <h1>The post #{{ posts[0].id }}</h1>
    <hr>
    <div class="row justify-content-center">
        <div class="col-6">
            {% include '_posts.html' %}
            {% if current_user.can(Permission.COMMENT) %}
                <h2>Add a comment:</h2>
                {{ macros.forms(form) }}
            {% endif %}
            {% include '_comments.html' %}
        </div>
    </div>
{% endblock content %}

{% block pagination %}
    {{ macros.pagination_widget(pagination, '.post', id=posts[0].id, fragment='#comments') }}
{% endblock pagination %}

{% block scripts %}
    {{ super() }}
    {{ ckeditor.load() }}
{% endblock scripts %}