{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}
    {{ super() }} - '{{ user.username }}' profile
{% endblock title %}

{% block content %}
    <h1><img src="{{ user.gravatar(size=40) }}" alt="">&nbsp;'{{ user.username }}' profile</h1>
    <hr>
    <div class="row justify-content-center">
        <div class="col-6">
            <p>Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% if user.name %}
                <p>Real name: {{ user.name }}</p>
            {% endif %}
            {% if user.location %}
                <p>Location: <a href="https://maps.google.com?={{ user.location }}">{{ user.location }}</a></p>
            {% endif %}
            {% if user.about_me %}
                <p>About me: {{ user.about_me }}</p>
            {% endif %}
            <p>Member since: {{ user.member_since.strftime('%d.%m.%Y') }}</p>
            <p>Last seen: {{ user.last_seen.strftime('%d.%m.%Y %H:%M:%S') }}</p>
            <p>
                {% if user.is_administrator() %}
                    <a href="{{ url_for('main.edit_admin_profile', id=current_user.id) }}" class="badge badge-danger">Edit [admin]
                    profile</a>
                {% elif user == current_user %}
                    <a href="{{ url_for('main.edit_profile') }}" class="badge badge-primary">Edit profile</a>
                {% endif %}
                {% if current_user.is_authenticated and user != current_user %}
                    {% if not current_user.is_following(user) %}
                        <a href="{{ url_for('.follow', username=user.username) }}" class="badge badge-secondary">Follow</a>
                        <a href="{{ url_for('.unfollow', username=user.username) }}" class="badge badge-light">Unfollow</a>
                    {% endif %}
                {% endif %}
                <a href="{{ url_for('.followers', username=user.username) }}">Followers: <span class="badge badge-dark">{{ user.followers.count() - 1 }}</span></a>
                <a href="{{ url_for('.followed_by', username=user.username) }}">Following: <span class="badge badge-primary">{{ user.followed.count() - 1 }}</span></a>
                {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                    | <span class="badge badge-info">Follows you</span>
                {% endif %}
            </p>
            {% if posts %}
                {% include '_posts.html' %}
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block pagination %}
    {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
{% endblock pagination %}